astroid==2.4.2
autopep8==1.5.5
click==7.1.2
flake8==3.8.4
Flask==1.1.2
Flask-FlatPages==0.7.2
Frozen-Flask==0.15
isort==5.7.0
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
Markdown==3.3.3
MarkupSafe==1.1.1
mccabe==0.6.1
pycodestyle==2.6.0
pyflakes==2.2.0
PyYAML==5.4.1
six==1.15.0
toml==0.10.2
Werkzeug==1.0.1
wrapt==1.12.1
