:root {
    --text-color:#52341bef;
    --body-bg: #f9e3de;
    --highlight:#774c281f;
    --title-color:#613b1b;
    --button-text:#fff;
    --button-bg:#774c2810;
    --primary:#613b1b;
    --highlight-dark: #28a79d33;
    --text-dark: #fff;
    --sub-dark: rgb(25 39 52);
}

#sub {
    background-color: #774c2814;
    padding: 30px;
    border-radius: 10px;
    border:0.1px solid #774c2830;
}

#sub > * {
    margin-bottom: 15px;
}

.newsletter > * {
    height: 45px;
}
.newsletter input {
    border:0.1px solid #774c2830;
}

h5 {
    font-weight: 600;
}

body {
    font-family: 'Source Serif Pro', Georgia, "Montserrat", sans-serif;
    letter-spacing: 0.1px;
    line-height: 1.55;
    font-weight: 500;
    font-size: 1.3rem;
    color: var(--text-color);
    background-color: var(--body-bg);
    transition: 0.5s ease-out;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    padding: 20px 0;
    margin: 20px auto;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
    opacity: 0.7;
    transition-duration: 0.5s;
    text-decoration: none;
}

#navigation a {
    color: var(--text-color);
    font-size: 15px;
    transition: 0.5s ease-in-out;
    padding: 10px;
    text-decoration: none;
}

.active, #navigation a:hover {
    background-color: var(--highlight);
    border-radius: 10px;
    text-decoration: none;
}


.container {
    max-width: 720px;
    padding: 20px;
    margin: 0 auto;
    position: relative;
}

.site-title {
    letter-spacing:0.8px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 28px;
    font-size: 1.5rem;
    font-weight: 800;
    float: left;
    width: 80%;
}

.site-title a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: var(--title-color);
    padding: 10px;
    transition: 0.5s ease-in-out;
}

.site-title a:hover {
    background-color: var(--highlight);
    border-radius: 10px;
}

#navigation {
    padding: 0;
    list-style-type: none;
    font-weight: 500;
    font-family: "Montserrat";
}


#navigation li {
    display: inline;
    margin-right: -5px;
}

.profile-photo {
   width: 100px;
   height: 100px;
   border-radius: 50%;
   float: right;
}

.title {
    color: var(--title-color);
    font-weight: 700;
    font-family: 'Georgia', times;
}

.title a:hover {
    text-decoration: underline;
}

#result {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

h2 {
    font-size: 1.5rem;
}

/* Dark mode */

.dark-mode {
    --body-bg: #15202b;
    --text-color:#fff;
    --title-color:#fff;
    --highlight:#28a79d33;
    --button-bg:#28a79d33;
    --primary: #28a79d33;
    transition: 0.5s ease-in;
}

.dark-mode .show-more:hover {
    background-color: #28a79d13
}

/* Style the button that is used to open and close the collapsible content */
.show-more {
    color: inherit;
    background-color: var(--button-bg);
    border-radius: 10px;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    transition: 0.5s;
    outline: none;
    font-size: 15px;
}

.show-more:hover {
    background-color: var(--highlight);
}

/* Style the collapsible content. Note: hidden by default */
.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

button:focus {
    outline: none;
}

#email {
    width: 65%;
    border-radius: 5px;
    border: 1px solid #774c2830;;
    color: inherit;
    padding: .8rem;
    background-color: transparent;
    font-size: 1.1rem;
}

#email::placeholder {
    color: inherit;
}

.button {
    width: 30%;
    background-color: var(--primary);
    border-radius: 5px;
    color: var(--button-text);
    border: 1px solid var(--title-color);
    padding: .5rem;
    margin-left: 5px;
    font-size: 1.1rem;
}

footer {
    padding-bottom: 40px;
    text-align: center;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}

.link, .link:hover {
    color: inherit;
    border-bottom:2px dotted;
    padding-bottom: 2px;
    transition: 0.5s;
}

::selection {
    background-color: var(--highlight);
}

.animate__fadeIn {
    --animate-duration: 1s;
}

/* Media queries for responsiveness
-------------------------------------------------------------- */
@media (max-width: 767px) {
    header {
      margin-bottom: -20px;
    }
    header .profile-photo {
      float: none;
    }
    header .site-title {
      width: 100%;
    }
    body {
        font-size: 1.2rem;
    }
    #navigation a {
        padding: 8px;
    }
  }

/* Media queries for dark mode
-------------------------------------------------------------- */

  @media (prefers-color-scheme: dark) {
    body {
      background-color: #15202b;
      color: var(--text-dark);
    }

    .site-title a, #navigation a, .title {
        color: var(--text-dark);
    }

    #navigation a:hover, .active, ::selection {
        background-color: var(--highlight-dark);
    }

    .button {
        background-color: var(--highlight-dark);
        border: none;
    }

    #sub {
        background-color: var(--sub-dark);
        padding: 30px;
        border-radius: 10px;
        border:none;
    }

    #email {
        background-color: rgb(37, 51, 65);
        border: none;
    }
}