:root {
  --text-color: #154422;
  --body-bg: #fff6e7;
  --highlight: #774c281f;
  --title-color: #154422;
  --button-text: #ffffff;
  --button-bg: #774c2810;
  --primary: #154422;
  --highlight-dark: #28a79d33;
  --text-dark: #ffffff;
  --sub-dark: #192734;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  box-sizing: border-box;
  font-family: "Source Serif Pro", Georgia, Montserrat, sans-serif;
  letter-spacing: 0.1px;
  line-height: 1.55;
  font-weight: 500;
  font-size: 1.3rem;
  color: var(--text-color);
  background-color: var(--body-bg);
  transition: 0.5s ease-out;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.link,
.link:hover {
  color: inherit;
  border-bottom: 2px dotted;
  padding-bottom: 2px;
  transition: 0.5s;
}
#sub {
  background-color: #774c2814;
  padding: 30px;
  border-radius: 15px;
}
#sub > * {
  margin-bottom: 15px;
}
.newsletter > * {
  height: 45px;
}
.newsletter input {
  border: 0.1px solid #774c2830;
}
h5 {
  font-weight: 600;
}
embed,
img,
object,
video {
  position: relative;
  max-width: 100%;
}
#main {
  margin: 15px auto;
}
a {
  color: inherit;
}
a:hover {
  color: inherit;
  opacity: 0.7;
  transition-duration: 0.5s;
  text-decoration: none;
}
#navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}
#navigation a {
  color: var(--text-color);
  font-size: 15px;
  transition: 0.5s ease-in-out;
  padding: 10px;
  text-decoration: none;
  border-bottom: none;
}
#navigation a:hover,
.active {
  background-color: var(--highlight);
  border-radius: 10px;
  text-decoration: none;
}
.container {
  max-width: 720px;
  padding: 20px;
  margin: 0 auto;
  position: relative;
}
.grid-header {
  display: grid;
}
.first-row-container-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.site-title {
  font-family: "Source Serif Pro", Georgia, Montserrat, sans-serif;
  letter-spacing: 0.8px;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 28px;
  font-size: 1.8rem;
}
.site-title a {
  text-decoration: none;
  border-bottom: none;
  color: var(--title-color);
  padding: 10px;
  transition: 0.5s ease-in-out;
  font-weight: 900;
}
.site-title a:hover {
  background-color: var(--highlight);
  border-radius: 10px;
}
#navigation {
  padding: 0;
  list-style-type: none;
  font-weight: 600;
  font-family: Montserrat;
  text-decoration: none;
}
#navigation li {
  display: inline-block;
  margin-right: 3px;
}
.profile-photo {
  max-width: 100%;
  width: 85px;
  height: 85px;
  border-radius: 50%;
}
.title {
  color: var(--title-color);
  font-weight: 700;
  font-family: Georgia, times;
}
.title a {
  text-decoration: none;
  border-bottom: none;
}
.title a:hover {
  text-decoration: underline;
}
#result {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
h1 {
  font-size: 2.6rem;
}
h2 {
  font-size: 1.5rem;
}
.dark-mode {
  --body-bg: #15202b;
  --text-color: #fff;
  --title-color: #fff;
  --highlight: #28a79d33;
  --button-bg: #28a79d33;
  --primary: #28a79d33;
  transition: 0.5s ease-in;
}
.dark-mode .show-more:hover {
  background-color: #28a79d13;
}
.show-more {
  color: inherit;
  background-color: var(--button-bg);
  border-radius: 10px;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  transition: 0.5s;
  outline: 0;
  font-size: 15px;
}
.show-more:hover {
  background-color: var(--highlight);
}
.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}
button:focus {
  outline: 0;
}
#email {
  width: 65%;
  border-radius: 5px;
  border: 1px solid #774c2830;
  color: inherit;
  padding: 0.8rem;
  background-color: transparent;
  font-size: 1.1rem;
}
#email::placeholder {
  color: inherit;
}
.button {
  width: 200px;
  background-color: var(--primary);
  border-radius: 5px;
  color: var(--button-text);
  border: 1px solid var(--title-color);
  padding: 0.5rem;
  margin-left: 5px;
  font-size: 1.1rem;
}
footer {
  padding: 20px;
  text-align: center;
  font-size: 13px;
  font-weight: 900;
  font-family: Montserrat, sans-serif;
}

.mb25 {
  margin-bottom: 25px;
}

/* New About Page */

.title2 {
  font-family: "Source Serif Pro", Georgia, Montserrat, sans-serif;
  font-weight: 800;
  margin-bottom: 20px;
}

.new_container {
  max-width: 2020px;
}

.main_section_grid,
.wall-section {
  padding: 0 40px 0px 40px;
}

.flex_container {
  display: flex;
  flex-direction: row;
  column-gap: 2em;
}

.text_flex_container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 40%;
}

.image_flex_container {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 550px;
}

.main_photo {
  right: -40px;
}

.wall-section {
  margin-top: 20px;
  padding-top: 40px;
  background-color: #182013;
  color: #f5f5dc;
}

.wall-feedback-wrapper {
  display: flex;
  column-gap: 2em;
  margin-top: 30px;
}

.wall-feedback {
  font-family: system-ui, -apple-system, segoe ui, Roboto, Helvetica, Arial,
    sans-serif, apple color emoji, segoe ui emoji;
  font-weight: 300;
}

.left-column,
.right-column {
  flex: 50%;
}

.wall-feedback-author {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 30px;
}

/* End of New About Page */

::selection {
  background-color: var(--highlight);
}
.animate__fadeIn {
  --animate-duration: 1s;
}

/* Different Screens */
@media (max-width: 800px) {
  .flex_container {
    flex-direction: column-reverse;
  }

  .image_flex_container {
    flex-basis: 0;
    margin-bottom: 20px;
  }

  .main_photo {
    right: 0;
  }

  .main_section_grid,
  .wall-section {
    padding: 20px;
  }

  .wall-feedback-wrapper {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .first-row-container-header {
    flex-direction: column-reverse;
  }

  h1 {
    font-size: 2.4rem;
  }
  header {
    margin-bottom: -20px;
    padding: 10px 0;
  }
  header .profile-photo {
    float: none;
  }
  header .site-title {
    width: 100%;
  }
  body {
    font-size: 1.2rem;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #15202b;
    color: var(--text-dark);
  }
  #navigation a,
  .site-title a,
  .title {
    color: var(--text-dark);
  }
  #navigation a:hover,
  .site-title a:hover,
  .active,
  ::selection {
    background-color: var(--highlight-dark);
  }
  .button {
    background-color: var(--highlight-dark);
    border: none;
  }
  #sub {
    background-color: var(--sub-dark);
    padding: 30px;
    border-radius: 15px;
    border: none;
  }
  #email {
    background-color: #253341;
    border: none;
  }
}
