{% extends "layout.html" %}

{% block body %}

        <main class="container animate__animated animate__fadeIn">
            <h1 class="title">About me</h1>
            <br>
            <img alt="Malik Piara" src="{{url_for('static', filename='malik.jpg')}}">
            <br><br>
            <p>Talent is distributed globally but opportunities aren't. I want to change that. My name is Malik and I dream and fight for a world where anyone can have the freedom to decide who they want to be and what they want to pursue.</p>
            <p>As of October 2021, I'm currently focused on learning more about Climate Science and Social Psychology. I'm also borrowing ideas and mental models from philosophy to apply them in decision making. Will be graduating from CODE University in 1 year.</p>
            <br>
            <h2 class="title">My Values (TODO)</h2>
            <p>I care about making others feel like they belong.</p>
            <p>I believe curation is the key to better products and companies.</p>
            <br><hr>
        </main>

{% endblock %}