{% extends "layout.html" %}

{% block body %}

        <main class="container animate__animated animate__fadeIn">
            <h1 class="title">Earnest Cards: Privacy Policy</h1>

            <small>This privacy policy was last updated on the 7th of November 2021.</small>
            
            <br><br>
            <h2 class="title">🌸 Information you give us</h2>
            <p>We don't store anything. You don't need to provide us with any personal information in order to use the Earnest Cards.</p>

            <br>
            <h2 class="title">📝 Changes in the Earnest cards policy</h2>
            <p>Over time, this privacy policy may be updated due to new updates, regulations or changes in law. Any changes will be reflected here.</p>

            <br>
            <h2 class="title">🧘 Your rights and contact information</h2>
            <p>If you have any questions, feedback or concerns, please drop me an email at malik@hey.com. Happy to grab a coffee too.</p>
        </main>
{% endblock %}