{% extends "layout.html" %}

{% block body %}

<article class="container animate__animated animate__fadeIn">
    <header>
        <h1 class="title"> {{ page.title }} </h1>
        <small>Published on {{ page.published.strftime('%d %B, %Y') }}</small>
        <br><br>
    </header>
<!-- safe is making Flask ignore the html tags -->
{{ page.html|safe }}
<br>
<div id="sub">
    <h5>🌙 Grow with me. Get my personal letters on emotional intelligence delivered to your inbox every day.</h5>
    <form class="newsletter" name="subscriptions" data-netlify="true">
        <input type="email" id="email" name="email" placeholder="Type your email" autocomplete="off" required>
        <button type="submit" class="button">Sign me up</button>
    </form>
    <small>By providing your email you agree with my privacy policy. No spam. Ever.</small>
</div>
<br>
</article>
{% endblock %}