{% extends "layout.html" %}

{% block body %}

<div class="container animate__animated animate__fadeIn">
<h1 class="title"> {{ page.title }} </h1>
<small>Published on {{ page.date.strftime('%d %B, %Y') }}</small>
<br><br>
<!-- safe is making Flask ignore the html tags -->
{{ page.html|safe }}
<br>
<div id="sub">
    <h5>🌙 Grow up with me. Get the best thoughts and mental models I came across delivered to your inbox.</h5>
    <form class="newsletter" name="subscriptions" data-netlify="true">
        <input type="email" id="email" name="email" placeholder="Type your email" autocomplete="off">
        <button type="submit" class="button">Join newsletter</button>
    </form>
    <small>By providing your email you agree with my privacy policy. No spam. Ever.</small>
</div>
<br>
</div>
{% endblock %}