{% extends "layout.html" %}

{% block body %}

        <main class="new_container animate__animated animate__fadeIn">
            <div class="main_section_grid">

                <h1 class="title2">You taught me courage. You taught me kindness. You taught me to believe in others. And you inspire me to be a force for good.</h1>
                
                <div class="flex_container">
                    
                    <div class="people-container">

                        <div class="person-container">
                            <img class="profile-photo" alt="Moezali Piarali" src="{{url_for('static', filename='people/pai.jpeg')}}">
                            <div>Moezali Piarali</div>
                        </div>

                        <div class="person-container">
                            <img class="profile-photo" alt="Sarah Piarali" src="{{url_for('static', filename='people/sarah.jpeg')}}">
                            <div>Sarah Piarali</div>
                        </div>

                        <div class="person-container">
                            <img class="profile-photo" alt="Marisa Temporão" src="{{url_for('static', filename='people/default.png')}}">
                            <div>Marisa Temporão</div>
                        </div>

                        <div class="person-container">
                            <img class="profile-photo" alt="Cristina Marques" src="{{url_for('static', filename='people/default.png')}}">
                            <div>Cristina Marques</div>
                        </div>

                        <div class="person-container">
                            <img class="profile-photo" alt="Pedro Machado" src="{{url_for('static', filename='people/pedro.jpeg')}}">
                            <div>Pedro Machado</div>
                        </div>

                        <div class="person-container">
                            <img class="profile-photo" alt="David Dias" src="{{url_for('static', filename='people/david.jpeg')}}">
                            <div>David Dias</div>
                        </div>

                        <div class="person-container">
                            <img class="profile-photo" alt="Matthew Carrozo" src="{{url_for('static', filename='people/carrozo.jpeg')}}">
                            <div>Matthew Carrozo</div>
                        </div>

                        <div class="person-container">
                            <img class="profile-photo" alt="Joana Vieira" src="{{url_for('static', filename='people/joana.jpeg')}}">
                            <div>Joana Vieira</div>
                        </div>

                        <div class="person-container">
                            <img class="profile-photo" alt="Paulo Fonseca" src="{{url_for('static', filename='people/paulof.jpeg')}}">
                            <div>Paulo Fonseca</div>
                        </div>

                        <div class="person-container">
                            <img class="profile-photo" alt="Stewart Noakes" src="{{url_for('static', filename='people/stewart.jpeg')}}">
                            <div>Stewart Noakes</div>
                        </div>

                        <div class="person-container">
                            <img class="profile-photo" alt="Mário Mouraz" src="{{url_for('static', filename='people/mario.webp')}}">
                            <div>Mário Mouraz</div>
                        </div>

                        <div class="person-container">
                            <img class="profile-photo" alt="Andre Rodrigues Lopes" src="{{url_for('static', filename='people/andre_rl.jpeg')}}">
                            <div>Andre Rodrigues Lopes</div>
                        </div>

                        <div class="person-container">
                            <img class="profile-photo" alt="Gustavo Pimenta" src="{{url_for('static', filename='people/gustavo.jpeg')}}">
                            <div>Gustavo Pimenta</div>
                        </div>

                        <div class="person-container">
                            <img class="profile-photo" alt="Paulo Gonçalves" src="{{url_for('static', filename='people/paulo.jpeg')}}">
                            <div>Paulo Gonçalves</div>
                        </div>

                        <div class="person-container">
                            <img class="profile-photo" alt="Scarlet Gillett" src="{{url_for('static', filename='people/scarlet.jpeg')}}">
                            <div>Scarlet Gillett</div>
                        </div>

                        <div class="person-container">
                            <img class="profile-photo" alt="Hugo França" src="{{url_for('static', filename='people/hugo.jpeg')}}">
                            <div>Hugo França</div>
                        </div>

                        <div class="person-container">
                            <img class="profile-photo" alt="Henrique Fialho" src="{{url_for('static', filename='people/fialho.jpeg')}}">
                            <div>Henrique Fialho</div>
                        </div>

                        <div class="person-container">
                            <img class="profile-photo" alt="Miguel Fontes" src="{{url_for('static', filename='people/miguel.jpeg')}}">
                            <div>Miguel Fontes</div>
                        </div>

                        <div class="person-container">
                            <img class="profile-photo" alt="Fernando Fraga" src="{{url_for('static', filename='people/fraga.jpeg')}}">
                            <div>Fernando Fraga</div>
                        </div>

                        <div class="person-container">
                            <img class="profile-photo" alt="Ulisses Ferreira" src="{{url_for('static', filename='people/ulisses.jpeg')}}">
                            <div>Ulisses Ferreira</div>
                        </div>

                        <div class="person-container">
                            <img class="profile-photo" alt="Eugénio Martins" src="{{url_for('static', filename='people/eugenio.jpeg')}}">
                            <div>Eugénio Martins</div>
                        </div>

                        <div class="person-container">
                            <img class="profile-photo" alt="Colin Böhning" src="{{url_for('static', filename='people/colin.jpeg')}}">
                            <div>Colin Böhning</div>
                        </div>

                        <div class="person-container">
                            <img class="profile-photo" alt="Jonathan Freiberger" src="{{url_for('static', filename='people/joni.jpeg')}}">
                            <div>Jonathan Freiberger</div>
                        </div>

                        <div class="person-container">
                            <img class="profile-photo" alt="Werner Hoffmann" src="{{url_for('static', filename='people/werner.jpeg')}}">
                            <div>Werner Hoffmann</div>
                        </div>

                        <div class="person-container">
                            <img class="profile-photo" alt="Tobias Freudenreich" src="{{url_for('static', filename='people/tobias.jpeg')}}">
                            <div>Tobias Freudenreich</div>
                        </div>

                        <div class="person-container">
                            <img class="profile-photo" alt="Amin Amirali" src="{{url_for('static', filename='people/amin.jpeg')}}">
                            <div>Amin Amirali</div>
                        </div>

                        <div class="person-container">
                            <img class="profile-photo" alt="Soraia Ussene" src="{{url_for('static', filename='people/soraia.jpeg')}}">
                            <div>Soraia Ussene</div>
                        </div>

                        <div class="person-container">
                            <img class="profile-photo" alt="André Borges" src="{{url_for('static', filename='people/andre.jpeg')}}">
                            <div>André Borges</div>
                        </div>

                        <div class="person-container">
                            <img class="profile-photo" alt="Ben Bachem" src="{{url_for('static', filename='people/ben.jpeg')}}">
                            <div>Ben Bachem</div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
                
            <br/><br/><br/>
            </main>

{% endblock %}